/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------ */ 

html, body {
	width: 100%;
	font: 32px arial, sans-serif;
}

body {
	background-color: #e6e6e6;
	color: #FFF;
}

#container {
	margin: 0px auto;
}

#b {
	background-color: #6699FF;
	height: 200px;
	padding: 20px;
    float: none;
    margin: 10px;
}

#a {
	background-color: #009933;
	height: 300px;
    padding: 20px;
    float: none;
    margin: 10px;
}

.d {
	background-color: #0C5A26;
	text-align: center;
	padding: 30px 0;
    margin-top: 10px;
    float: none;
}

footer {
	background-color: #0000AA;
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 60px;
}

footer div {
	margin: 0 auto;
	padding: 14px 0 0 20px;
}

@media (min-width: 450px) {
    #container {
        width: 100%;
        height: 600px;
    }
    
    #a {
        width: calc(%100 - 40px);
        margin: 10px 10px 0 10px;
        padding: 10px;
    }
    
    #a > p {
        position: relative;
        top: 10px;
        left: 10px;
    }
    
    #b {
        margin: 10px 10px 0 10px;
    }
    
    .d {
        float: left;
        width: calc(50% - 5px);
        margin: 20px 0 0 0;
    }
    
    #d1 {
	   margin-right: 10px;
    }
    
    footer {
        position: absolute;
        top: 610px;
    }
}

@media (min-width: 840px) {
    #container {
        width: 820px;
        height: 380px;
    }
    
    #b {
        float: right;
        width: 260px;
        margin: 20px 0 0 20px;
    }
    
    #a {
        float: left;
        width: 460px;
        margin: 20px 0 0 0;
        padding: 20px;
    }
    
    #a > p {
        position: static;
    }
    
    .d {
        float: left;
        width: 220px;
        margin: 20px 0 0 0;
    }
    
    #d1 {
	   margin-right: 20px;
    }
    
    footer {
        position: absolute;
        top: 380px;
    }
    
    footer div {
        width: 820px;
    }
}